<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ontact</title>

    <link rel="stylesheet" href="/static/css/stylecontact.css">

</head>
<body>
    <p>
        <div class="links">
        <a href="/">Home</a>
        <a href="/portfolio">Portfolio</a>
        <a href="/contactS">Contact</a>
    </p>
</div>
</div>

<div class="header">
<p>Contact [to say hello]</p>
</div>

<br>
<Div class="center">
<p>Email : nm@gnail.com</p>
<br>
<br>
<p>Insta : PixelNinja</p>
</Div>

</body>
</html>