<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page 1</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div class="header">

    <h1>This is my first website  [WELCOME!]</h1>
    
<div class="links">
    <p>
        <a href="/">Home</a>
        <a href="/portfolio">Projects</a>
        <a href="/contact">Say Hello</a>
    </p>

</div>

        <div class="center">
        <p>On the road to become SmartNinja</p>
        </div>
    
    <br>

    
    <div class="introduction">
    <p>On this website, I present some of my projects that I made as part of the <a href="https://smartninja.si/">SmartNinja</a> course.</p>
    </div>
    <br>
    
    <div class="about"> 
    <p>Besides learning to code, I love spending free time with my loved ones, I love animals and listening to music.</p>
    </div>
  
</body>
</html>