
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolo</title>


</head>
<body>
    <p>
        <a href="/">Home</a>
        <a href="/portfolio">Portfolio</a>
        <a href="/contact">Contact</a>
    </p>

    <h1>Portfolio</h1>
    <p>My Projects</p>
    <b></b>
    <p>Boogle project</p>
    <img src="/static/img/boogle.png" alt="Oops">
    <b></b>
    <p>Fakebook project</p>
    <img src="/static/img/fakebook.png" alt="Ooops">
    <b></b>
    <p>Bootstrap project</p>
    <img src="/static/img/bootstrap.png" alt="Oooops">
</body>
</html>