
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolo</title>
    <link rel="stylesheet" href="/static/css/styleportfolio.css">

</head>

<body>
     
    <div class="links">
    <p>
        <a href="/">Home</a>
        <a href="/portfolio">Projects</a>
        <a href="/contact">Say Hello</a>
    </p>

    </div>

        <div class="header">
        <p>Portfolio [A few of my first projects]</p>
        </div>
    
    <br>

    
    <div class="projects">
    <p>Boogle project - duplicate google browser to get started with flexbox</p>
    <img src="/static/img/boogle.png" alt="Oops">
    <br>
    <p>Fakebook project - for getting to know html and css</p>
    <img src="/static/img/fakebook.png" alt="Ooops">
    <br>
    <p>Bootstrap project - to learn how to use Bootstrap templates
    </p>
    <img src="/static/img/bootstrap.png" alt="Oooops">
</div>
</body>
</html>